.hero-btn {
  text-align: center;
  font-weight: bold;
}

.find-work-title {
  margin-bottom: 0;
}

.hero-img {
  z-index: -10;
  position: absolute;
  width: auto;
}

@media screen and (min-width: 270px) {
  .home-hero-section {
    height: 305px;
    margin-left: 4px;
  }

  .home-hero-title {
    margin-top: 55px;
    margin-bottom: 0;
    width: 250px;
    font-size: 34px;
  }

  .home-hero-ctas {
    width: 250px;
    margin-top: 45px;
    margin-right: 6px;
  }

  .hero-btn {
    width: 95px;
    font-size: 14px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .find-work-title {
    font-size: 26px;
    word-spacing: 10px;
  }

  .hero-img {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .home-hero-section {
    margin-left: 8px;
    height: 325px;
  }

  .home-hero-title {
    width: 300px;
    font-size: 38px;
    margin-top: 65px;
  }

  .home-hero-ctas {
    width: 290px;
  }

  .hero-btn {
    width: 115px;
    display: block;
    height: auto;
    padding: 10px 0px;
  }
}

@media screen  and (min-width: 365px) {
  .home-hero-section {
    margin-left: 12px;
    height: 350px;
  }

  .home-hero-title {
    width: 350px;
    font-size: 42px;
  }

  .home-hero-section > p {
    width: 340px;
  }

  .home-hero-ctas {
    width: 310px;
  }

  .hero-btn {
    width: 125px;
    padding: 12px 0px;
    font-size: 16px;
  }
}

@media screen and (min-width: 425px) {
  .home-hero-section {
    margin-left: 18px;
    height: 375px;
  }

  .home-hero-title {
    width: 90vw;
    font-size: 42px;
  }

  .find-work-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 475px) {
  .home-hero-section {
    margin-left: 18px;
    height: 405px;
  }

  .home-hero-ctas {
    width: 400px;
    margin-top: 50px;
  }

  .hero-btn {
    width: 155px;
    font-size: 16px;
    padding: 14px 0px;
  }

  .find-work-title {
    font-size: 34px;
  }
}

@media screen and (min-width: 550px) {
  .home-hero-section {
    margin-left: 18px;
    height: 435px;
  }

  .home-hero-title {
    margin-top: 80px;
    font-size: 48px;
    width: 500px;
  }

  .home-hero-section > p {
    width: fit-content;
  }

  .home-hero-ctas {
    width: 450px;
  }

  .hero-btn {
    width: 175px;
    font-size: 18px;
  }

  .find-work-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 650px) {
  .home-hero-section {
    height: 450px;
    margin-left: 30px;
  }

  .home-hero-title {
    margin-top: 100px;
    font-size: 50px;
    width: 580px;
  }
}

@media screen and (min-width: 725px) {
  .home-hero-section {
    height: 475px;
  }

  .home-hero-title {
    font-size: 52px;
    width: 680px;
  }
}

@media screen and (min-width: 800px) {
  .home-hero-title {
    font-size: 54px;
    width: 750px;
  }
}

@media screen and (min-width: 1000px) {
  .hero-img {
    display: block;
    top: 100px;
    height: 80%;
    right: -35px;
  }
}

@media screen and (min-width: 1165px) {
  .hero-img {
    top: 60px;
    height: 90%;
  }
}

@media screen and (min-width: 1225px) {
  .hero-img {
    top: -20px;
    height: 100%;
    right: 0px;
  }
}