.home-hero-section {
  height: 475px;
  margin-left: 30px;
}

.home-hero-title {
  margin-top: 100px;
  margin-bottom: 0;
  width: 750px;
}

.home-hero-ctas {
  width: 450px;
  margin-top: 50px;
}

.hero-btn {
  width: 175px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 14px 0px;
}

.find-work-title {
  word-spacing: 15px;
  margin-bottom: 0;
}

.hero-img {
  z-index: -10;
  position: absolute;
  right: 0;
  top: -20px;
  height: 100%;
  width: auto;
}