.home-header {
  height: 75px;
  position: sticky;
}

.home-header-nav {
  width: 250px;
  margin-right: 55px;
}

.nav-link {
  color: black;
  width: 75px;
  text-align: center;
  font-size: 15px;
  padding: 8px 12px;
}